<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>后台管理</title>
    <link rel="stylesheet" href="/iconfont/iconfont.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

    <div class="top">
        <div class="logo_div">
            <img src="images/topLogo.png" alt="">
        </div>
        <div class="top_mean">
            <ul>
                <li style="width:102px;border-left:none;">
                	<a style="width:102px;" href="">
                		<i class="iconfont icon-zhankai"></i>
                		<span>更多模板堂产品</span>
                	</a>
                </li>
                <li>
                	<a href="javascript:void(0);">
                		<i class="iconfont icon-liuchengxiangdao"></i>
                        <span>开店向导</span>
                    </a>
                </li>
                <li>
                	<a href="javascript:void(0);">
                		<i class="iconfont icon-icon-test"></i>
                		<span>记事本</span>
                	</a>
                </li>
                <li>
                	<a href="javascript:void(0);">
                		<i class="iconfont icon-shuaxin"></i>
                		<span>刷新</span>
                	</a>
                </li>
                <li>
                	<a href="javascript:void(0);">
                		<i class="iconfont icon-shezhi"></i>
                		<span>个人设置</span>
                	</a>
                </li>
                <li>
                	<a href="javascript:void(0);">
                		<i class="iconfont icon-liuyan"></i>
                		<span>管理员留言</span>
                	</a>
                </li>
                <li>
                	<a href="javascript:void(0);">
                		<i class="iconfont icon-dianpu"></i>
                		<span>查看网店</span>
                	</a>
                </li>
                <li>
                	<a href="javascript:void(0);">
                		<i class="iconfont icon-bangzhu"></i>
                		<span>帮助</span>
                	</a>
                </li>
                <li>
                	<a href="javascript:void(0);">
                		<i class="iconfont icon-guanyu"></i>
                		<span>关于</span>
                	</a>
                </li>
                <li>
                	<a href="javascript:void(0);">
                		<i class="iconfont icon-qingchuhuancun"></i>
                        <span>清除缓存</span>
                    </a>
                </li>
                <li>
                	<a href="javascript:void(0);">
                		<i class="iconfont icon-tuichu"></i>
                		<span>退出</span>
                	</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mean_div">
        <ul>
            <li><a href="javascript:void(0)"><i class="iconfont icon-home"></i><span>起始页</span></a>
			<span class="muneFG"></span>
            </li>
            <li><a href="javascript:void(0)"><i class="iconfont icon-buju_daohanglan"></i><span>设置导航栏</span></a>
			<span class="muneFG"></span>
            </li>
            <li>
            	<a href="javascript:void(0)">
            		<i class="iconfont icon-shangpin"></i>
            		<span>商品管理</span>
					<span class="num">5</span>
            </a>
			<span class="muneFG"></span>
        </li>
            <li>
            	<a href="javascript:void(0)">
            		<i class="iconfont icon-dingdan"></i>
            		<span>订单管理</span>
					<span class="num">0</span>
            </a>
			<span class="muneFG"></span>
        </li>
            <li>
            	<a href="javascript:void(0)">
            		<i class="iconfont icon-guanggao"></i>
            		<span>广告管理</span>
					<span class="num">0</span>
            </a>
			<span class="muneFG"></span>
        </li>
            <li>
            	<a href="javascript:void(0)">
            		<i class="iconfont icon-pinglun"></i>
            		<span>用户评论</span>
					<span class="num">1</span>
            </a>
			<span class="muneFG"></span>
        </li>
            <li><a href="javascript:void(0)">商品列表</a></li>
            <li><a href="javascript:void(0)">订单列表</a></li>
            <li><a href="javascript:void(0)">用户评论</a></li>
            <li><a href="javascript:void(0)">会员列表</a></li>
            <li><a href="javascript:void(0)">商店设置</a></li>
            <li><a href="javascript:void(0)">移动版</a></li>
            <li><a href="javascript:void(0)">服务市场</a></li>
        </ul>

    </div>

    <main id="main">
        <div class="left_con">
            <div id="tabbar-div">
                <p>
                    <span class="tab-front" id="menu-tab">导航菜单</span>
                </p>
            </div>
            <div id="main-div">
                <div id="menu-list">
                    <ul id="menu-ul">
                        <li class="collapse ico_1">
                            商品管理        <ul style="display:none;">
                            <li class="menu-item"><a href="/goods_list.html" target="content">商品列表</a></li>
                            <li class="menu-item"><a href="/goods_add.html" target="content">添加新商品</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">商品分类</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">用户评论</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">商品品牌</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">商品类型</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">商品回收站</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">图片批量处理</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">商品批量上传</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">商品批量导出</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">商品批量修改</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">生成商品代码</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">标签管理</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">虚拟商品列表</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">添加虚拟商品</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">更改加密串</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">商品自动上下架</a></li>
                        </ul>
                        </li>
                        <li class="collapse ico_2">
                            促销管理        <ul style="display:none;">
                            <li class="menu-item"><a href="javascript:void(0);">夺宝奇兵</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">红包类型</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">商品包装</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">祝福贺卡</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">团购活动</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">专题管理</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">拍卖活动</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">优惠活动</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">批发管理</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">超值礼包</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">积分商城商品</a></li>
                        </ul>
                        </li>
                        <li class="collapse ico_3">
                            订单管理        <ul style="display:none;">
                            <li class="menu-item"><a href="javascript:void(0);">订单列表</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">订单查询</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">合并订单</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">订单打印</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">缺货登记</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">添加订单</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">发货单列表</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">退货单列表</a></li>
                        </ul>
                        </li>
                        <li class="collapse ico_4">
                            广告管理        <ul style="display:none;">
                            <li class="menu-item"><a href="javascript:void(0);">广告列表</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">广告位置</a></li>
                        </ul>
                        </li>
                        <li class="collapse ico_5">
                            报表统计        <ul style="display:none;">
                            <li class="menu-item"><a href="javascript:void(0);">流量分析</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">客户统计</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">订单统计</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">销售概况</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">会员排行</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">销售明细</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">搜索引擎</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">销售排行</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">访问购买率</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">站外投放JS</a></li>
                        </ul>
                        </li>
                        <li class="collapse ico_6">
                            文章管理        <ul style="display:none;">
                            <li class="menu-item"><a href="javascript:void(0);">文章分类</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">文章列表</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">文章自动发布</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">在线调查</a></li>
                        </ul>
                        </li>
                        <li class="collapse ico_7">
                            会员管理        <ul style="display:none;">
                            <li class="menu-item"><a href="javascript:void(0);">会员列表</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">添加会员</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">会员等级</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">会员整合</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">会员留言</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">充值和提现申请</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">资金管理</a></li>
                        </ul>
                        </li>
                        <li class="collapse ico_8">
                            权限管理        <ul style="display:none;">
                            <li class="menu-item"><a href="javascript:void(0);">管理员列表</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">管理员日志</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">角色管理</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">办事处列表</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">供货商列表</a></li>
                        </ul>
                        </li>
                        <li class="collapse ico_9">
                            系统设置        <ul style="display:none;">
                            <li class="menu-item"><a href="javascript:void(0);">商店设置</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">会员注册项设置</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">支付方式</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">配送方式</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">邮件服务器设置</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">地区列表</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">计划任务</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">友情链接</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">验证码管理</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">文件权限检测</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">文件校验</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">首页主广告管理</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">自定义导航栏</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">授权证书</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">站点地图</a></li>
                        </ul>
                        </li>
                        <li class="collapse ico_10">
                            模板管理        <ul style="display:none;">
                            <li class="menu-item"><a href="javascript:void(0);">模板选择</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">设置模板</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">库项目管理</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">语言项编辑</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">模板设置备份</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">邮件模板</a></li>
                        </ul>
                        </li>
                        <li class="collapse ico_11">
                            数据库管理        <ul style="display:none;">
                            <li class="menu-item"><a href="javascript:void(0);">数据备份</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">数据表优化</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">SQL查询</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">体验数据清除</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">转换数据</a></li>
                        </ul>
                        </li>
                        <li class="collapse ico_12">
                            短信管理        <ul style="display:none;">
                            <li class="menu-item"><a href="javascript:void(0);">发送短信</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">短信签名</a></li>
                        </ul>
                        </li>
                        <li class="collapse ico_13">
                            推荐管理        <ul style="display:none;">
                            <li class="menu-item"><a href="javascript:void(0);">推荐设置</a></li>
                            <li class="menu-item"><a href="javascript:void(0);">分成管理</a></li>
                        </ul>
                        </li>
                        <li class="collapse ico_14">
                            邮件群发管理
                            <ul style="display:none;">
                                <li class="menu-item"><a href="javascript:void(0);">关注管理</a></li>
                                <li class="menu-item"><a href="javascript:void(0);">邮件订阅管理</a></li>
                                <li class="menu-item"><a href="javascript:void(0);">杂志管理</a></li>
                                <li class="menu-item"><a href="javascript:void(0);">邮件队列管理</a></li>
                            </ul>
                        </li>
                        <li class="collapse ico_15">
                            移动版管理
                            <ul style="display:none;">
                                <li class="menu-item"><a href="javascript:void(0);">移动版</a></li>
                            </ul>
                        </li>
                        <li class="collapse ico_16">
                            模板堂知识库
                            <ul style="display:none;">
                                <li class="menu-item"><a href="javascript:void(0);">在线手册</a></li>
                                <li class="menu-item"><a href="javascript:void(0);">社区论坛</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--<div id="help-div" style="display:none">-->
                    <!--<h1 id="help-title"></h1>-->
                    <!--<div id="help-content"></div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="toggleMenu"></div>





        <iframe src="" frameborder="0" id="content" name="content">

        </iframe>
    </main>


</body>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>

    $("li.collapse").click(function () {
        console.log($(this).children("ul").css("display"));
        $(this).children("ul").toggle();
    })
    
    $("li.collapse>ul>li").click(function (e) {
        e.stopPropagation();
        // e.preventDefault()
    })

    // function leftHei() {
    //     var bodyHeight = $("body").height();
    //     var leftHeight = bodyHeight - 119 ;
    //     console.log(leftHeight);
    //     $(".left_con").css("height",leftHeight);
    // }

    $(window).load(function () {

        var Height = $(window).height();
        var Width = $(window).width();

        var leftHeight = Height - 119 ;
        // console.log(leftHeight);
        $(".left_con").css("height",leftHeight);

        var iframeWid = Width -180;
        $("#content").css("min-height",leftHeight);
        $("#content").css("min-width",iframeWid);
    })

    $(window).resize(function(){
        var Height = $(window).height();
        var Width = $(window).width();
        // console.log(Height);
        // console.log(Width);

        var leftHeight = Height - 119 ;
        // console.log(leftHeight);
        $(".left_con").css("height",leftHeight);

        var iframeWid = Width -180;
        $("#content").css("min-height",leftHeight);
        $("#content").css("min-width",iframeWid);

    })

</script>


</html>
